/* ====================== */
/* PAGE CONTAINER */
/* ====================== */

.chat-page-container {
    min-height: 100vh;
    min-width: 100vw;
    background: #18181800;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
}

.chat-content-container {
    margin: 1rem 0.5rem 1rem 1rem;
    height: 96vh;
    flex-grow: 1;
    padding: 1.5rem 2rem 1rem 2rem;

    display: flex;
    flex-direction: column;

    background: #1f1f1f;
    border: 1px solid var(--standard-light-gray);
    border-radius: 1rem;
    overflow: hidden;
    max-width: auto;
}

/* ====================== */
/* NAVBAR */
/* ====================== */

.navbar-container {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cchat-link-container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.cchat-link-container:hover {
    cursor: pointer;
}

.site-logo {
    height: 2rem;
    margin-right: 0.5rem;
}

.site-name {
    font-weight: bold;
    font-size: 1.40rem;
    margin: 0;
}

.active-count {
    font-weight: bold;
    font-size: 1.20rem;
    color: var(--light-green);
    margin: 0;
    padding: 0;
    align-self: center;
}

.active-count span {
    color: var(--standard-white);
}

.shop-btn-container {
    display: var(--shop-btn-display);
}

.shop-btn {
    margin-left: 2rem;
}

/* ====================== */
/* CHAT AREA */
/* ====================== */

.chat-message-container {
    height: 90%;
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* ====================== */
/* INPUT AREA */
/* ====================== */

.input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
}

.chat-input {
    border-radius: 0.75rem;
    border: 2px solid var(--standard-light-gray);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    flex-grow: 1;
}

.chat-input:focus,
.chat-input:focus-visible {
    outline: none;
    box-shadow: none;
}

.send-btn {
    font-size: 2rem;
    padding: 0.25rem 0.50rem 0.25rem 1rem;
    transition: var(--site-transition);
}

.send-btn:hover {
    color: var(--light-green);
    cursor: pointer;
}