/* All site color variables, including the themes for each map. */

:root {
    --site-font: arial, sans-serif;
    --site-transition: 0.2s;

    --site-bg: #141414;
    --secondary-bg: #1a1a1a;
    --hover-map-img: #cccccc90;
    --standard-white: #fff;
    --standard-black: #000;
    --standard-light-gray: #333333;
    --standard-dim-white: #aaa;

    --light-green: #00ff2b;
    --light-green-hover: #3bff5c;
    --mid-green: #36ba01;
    --dark-green: #009a22;


    --danger-red: #f00;
}