:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* END OF VITE STUFF */

:root {
    font-family: var(--site-font);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--site-bg);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: var(--site-font-size);
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.disabled {
    pointer-events: none;
    opacity: 0.35;
}

.default-btn {
    font-weight: bold;
    padding: 0.50rem 1.5rem;
    font-size: 1.1rem;
}

.hide {
  display: none !important;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--standard-light-gray);
    margin: 1rem 0;
}

.count {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    margin-left: auto;
    border: 1px solid var(--standard-light-gray);
    cursor: default;
}