/* Mobile */
@media (width <= 640px) {
    :root {
        --site-font-size: 13px;

        --site-title-size: 4.5rem;
        --site-title-padding: 15rem;

        --shop-btn-display: block;
        --shop-panel-display: none;

        --modal-height: 44rem;
        --modal-width: 28rem;
    }
}

/* Tablets */
@media (width >= 641px) {
    :root {
        --site-font-size: 14px;

        --site-title-size: 6rem;
        --site-title-padding: 18rem;

        --shop-btn-display: block;
        --shop-panel-display: none;

        --modal-height: 55rem;
        --modal-width: 45rem;
    }
}

/* Small Laptops */
@media (width >= 1024px) {
    :root {
        --site-font-size: 15px;

        --site-title-size: 7.5rem;

        --shop-btn-display: block;
        --shop-panel-display: none;
    }
}

/* Desktop */
@media (width >= 1280px) {
    :root {
        --site-font-size: 16px;

        --shop-btn-display: none;
        --shop-panel-display: block;
        --shop-panel-width: 32rem;
    }
}

/* Desktop */
@media (width >= 1524px) {
    :root {
        --site-font-size: 16px;

        --shop-btn-display: none;
        --shop-panel-display: block;

        --shop-panel-width: 36rem;
    }
}

/* Big Desktops */
@media (width >= 2560px) {
    :root {
        --site-font-size: 18px;
    }
}
