.shop-panel-container {
    border: 1px solid var(--standard-light-gray);
    border-radius: 1rem;
    background: #1f1f1f;
    height: 96vh;
    width: 36rem;
    flex: none;
    margin: 1rem 1rem 1rem 0.5rem;
    display: var(--shop-panel-display);
}

.shop-container {
    flex-grow: 1;
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.shop-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}

.shop-title {
    font-weight: bold;
    font-size: 1.40rem;
    color: var(--standard-white);
    margin: 0;
    padding: 0;
    margin: 0;
}

.token-count {
    font-weight: bold;
    font-size: 1.40rem;
    color: var(--standard-white);
    margin: 0;
    padding: 0;
    margin: 0 0 0 auto;
}

.coming-soon {
    font-weight: bold;
    border: 2px solid var(--light-green);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    color: var(--light-green);
}